
body {
  margin: 0 auto;
}

.loading-overlay {
  display: flex;
  background: rgba(0, 0, 0, 1);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9998;
  align-items: center;
  justify-content: center;
}

.loading-overlay.is-active {
  display: none;
}

.loading-overlay.is-not-active {
  display: none;
}


.video-container {
  width: 100vw;
  margin: 0rem;
  box-sizing: border-box;
  background-color: #dddddd;
  display: inline-block;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.ytpl-playing p {
  display: block;
}

#ytpl-title,
#ytpl-desc,#ytp-show-cards-title {
  display: none;
}

div:fullscreen .ytp-title-text .ytp-title-link .yt-uix-sessionlink .ytp-title .ytp-title-channel-logo .ytp-title-text .ytp-watch-later-icon .ytp-button .ytp-settings-button .ytp-hd-quality-badge .ytp-title-expanded-title  .ytp-youtube-button .ytp-button .yt-uix-sessionlink .ytp-menuitem-label .ytp-menuitem-content  .ytp-play-button .ytp-progress-list  .ytp-scrubber-button .ytp-swatch-background-color  .ytp-time-duration  .ytp-time-separator .ytp-time-current /*Not sure if you want to hide the current time, babe*/ .ytp-share-icon .ytp-pause-overlay .ytp-related-title .ytp-pause-overlay .ytp-suggestions  .ytp-expand-pause-overlay .ytp-fullscreen-button  .ytp-progress-bar-padding  .ytp-progress-bar .admin-bar .ytp-title-channel  .ytp-title-beacon  .ytp-chrome-top .ytp-show-watch-later-title .ytp-share-button-visible .ytp-show-share-title {
  display: none !important;
