
body {
  margin: 0 auto;
}

.loading-overlay {
  display: flex;
  background: rgba(0, 0, 0, 1);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9998;
  align-items: center;
  justify-content: center;
}

.loading-overlay.is-active {
  display: none;
}

.loading-overlay.is-not-active {
  display: none;
}


.video-container {
  width: 100vw;
  margin: 0rem;
  box-sizing: border-box;
  background-color: #dddddd;
  display: inline-block;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.ytpl-playing p {
  display: block;
}

#ytpl-title,
#ytpl-desc,#ytp-show-cards-title {
  display: none;
}
